<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hands-On Express</title>
          <link rel="stylesheet/css" href="index.css" type="text/css">  
    </head>
    <body>
        {{{body}}}
    </body>
</html>