<h1 style='color:rgb(175, 6, 6)';>From The Beginning</h1>

<a href='/middle' style='font-size:24px';>Next</a>
<a href='/end' style='font-size:24px';>Continue</a>
<a href='/notyet' style='font-size:24px';>Continuing</a>
<a href='/stillmore' style='font-size:24px';>More</a>
<a href='/final' style='font-size:24px';>Finale</a>
</div>

<h2 style='color:#05837d';>Betty Botter bought some butter...</h2>