<h1 style='color:rgb(175, 6, 6)';>Finally An End to The Madness!</h1>

<a href='/beginning' style='font-size:24px';>Begin</a>
<a href='/middle' style='font-size:24px';>Next</a>
<a href='/end' style='font-size:24px';>Continue</a>
<a href='/notyet' style='font-size:24px';>Continuing</a>
<a href='/stillmore' style='font-size:24px';>More</a>


<h2 style='color:#05837d';>Betty Botter bought some butter...<br />
But said she...This butter's bitter!<br />
So, she bought some better butter.<br />
Put it with the bitter butter!<br />
And made the bitter butter<br />
<div style='font-size: 36px';>BETTER!!</div></h2>
