<h1 style='color:rgb(175, 6, 6)';>It's Not Over Yet...</h1>

<a href='/beginning' style='font-size:24px';>Begin</a>
<a href='/middle' style='font-size:24px';>Next</a>
<a href='/end' style='font-size:24px';>Continue</a>
<a href='/stillmore' style='font-size:24px';>More</a>
<a href='/final' style='font-size:24px';>Finale</a>
</div>

<h2 style='color:#05837d';>Put it with the bitter butter!</h2>
