<h1 style='color:rgb(175, 6, 6)';>Really? There's Still More.</h1>

<a href='/beginning' style='font-size:24px';>Begin</a>
<a href='/middle' style='font-size:24px';>Next</a>
<a href='/end' style='font-size:24px';>Continue</a>
<a href='/notyet' style='font-size:24px';>Continuing</a>
<a href='/final' style='font-size:24px';>Finale</a>
</div>

<h2 style='color:#05837d';>And made the bitter butter...</h2>
